/* Estilos para la tabla */

body {
  background: linear-gradient(to right, #000000, #c39212, #272d73, #7c0013);
  height: 100vh;
  margin: 0;
} 

.table {
    background-color: #ffffff; 
    border-radius: 10px;
    overflow: hidden;
} 
 .table th,
.table td {
    background-color: transparent; 
    border-color: #ccc;  
} 

 .table th {
    color: #333; 
    font-weight: bold;
} 

/* Estilo para el estado activo/inactivo */
 .badge {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
}

/* Estilo para los botones */
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;
} 
 
.btn-warning:hover {
    background-color: #e67e22;
    border-color: #e67e22;
} 

 .btn-success:hover  {
    background-color: #27ae60;
    border-color: #27ae60;
} 

 .btn-danger:hover {
    background-color: #c0392b;
    border-color: #e74c3c;
} 

/* Añadir color de hover para los botones */
 .btn:hover {
    opacity: 0.8;
} 

 .table-responsive {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
} 
.container{
    max-width: 1200px;
    margin: 0 auto; 
}
 